* {
  font-family: 'Manrope', sans-serif !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.my_profile-bg {
  width: 340px;
  max-width: 100%;
  height: auto;
  max-height: 320px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my_profile_user-img {
  border-radius: 100%;
  margin-left: -64px;
}

.property_details-img {
  width: 100%;
  max-height: 546px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .my_profile-bg {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
  }

  .my_profile_user-img {
    margin-left: 0px;
    margin-top: -64px;
  }

  .property_details-img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .property_details-img {
    max-height: 250px;
  }

  .my_profile-bg {
    max-height: 200px;
  }
}
